<div class=" m-5 w-80 border border-black h-16 rounded-md items-center flex">
    <a routerLink="elements" routerLinkActive="active" class="m-4 hover:text-red-400 hover:font-bold focus:scale-105 p-3 focus:bg-blue-300 rounded-lg" >elements</a>
    <span>|</span>
    <a routerLink="collection" routerLinkActive="active" class="m-4 hover:text-red-400 hover:font-bold focus:scale-105 p-3 focus:bg-blue-300 rounded-lg">collection</a>
    </div>
    <div >
      <router-outlet></router-outlet>
    </div>
    
    